body {
    background-color: rgb(1, 1, 95);
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        color: white;
        text-align: center;
    }

    textarea {
        width: 50%;
        height: 30vh;
        border-radius: 1%;
    }

    button {
        padding: 10px;
        background-color: rgb(173, 2, 136);
        border: none;
        font-size: large;
        max-width: 20%;
        margin-top: 15px;
        color: #fff;
        border-radius: 10px;
        cursor: pointer;
    }

    #note-title{
        width: 50%;
        padding: 5px;
        margin-bottom: 5px;
    }
}

#result-section {
    display: none;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
}

.result-card {
    background-color: #fff;
    margin-top: 20px;
    padding: 10px;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: auto;
    border-radius: 5px;
}

.result-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.crud-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    .delete {
        background-color: red;
        border: none;
        color: #fff;
        padding: 2px 5px;
    }

    .edit {
        background-color: green;
        border: none;
        color: #fff;
        padding: 2px 5px;
    }

}